body {
  background-color: floralwhite;
}

.welcome {
  margin-top: -36%;
  color: green;
  font-size: 30px;
}

.paragragh-one {
  margin-top: 60px;
}

.paragragh-two {
  margin-top: 70px;
}

.home-cont {
  margin-left: 4%;
  margin-right: 4%;
}
